<form (submit)="submit()">
    <label>Title</label>
    <input type="text" name="title"[(ngModel)]="title">

    <label>Image</label>
    <input type="text" name="image"[(ngModel)]="image">
    <button type="submit">Add Products</button>
</form>
