<a routerLink="/admin/products/create"="" class="btn">Add Products</a>
<table>
    <thead>
        <tr>
            <th>#id</th>
            <th>title</th>
            <th>image</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td><img [src]="product.image" width="90"></td>
            <td>
                <a href="" class="btn">Edit</a>
                <button class="btn btn-del">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
