<app-nav></app-nav>
<div class="wrraper">
    <div class="left-content">
        <app-menu></app-menu>
    </div>
    <div class="right-content">
        <router-outlet></router-outlet>
    </div>
</div>

