<form [formGroup]="form" (submit)="submit()">
    <label>Title</label>
    <input type="text" name="title" formControlName="title">
    <label>image</label>
    <input type="text" name="image" formControlName="image">
    <button type="submit">Save</button>
</form>

